#gameOverlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
  pointer-events: none;
  z-index: 1000;
}
/* To forward events to main canvas where BJS is hooked
 pointer-events none //
 To forward events to main canvas where BJS is hooked}*/
