@import "lobby.pcss";
@import "info.pcss";
@import "map.pcss";
@import "guide.pcss";
@import "gameOverlay.pcss";

body, html {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

#glcanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
