#guide
  background-color rgba(30, 30, 30, 0.3)
  color rgba(255, 255, 255, 0.5)
  position absolute
  top 20px
  left 20px
  width 200px
  height 140px
  z-index 4
  padding 10px

  h1
    font-size 13px
    text-align center
  h2
    font-size 13px
  p
    font-size 10px

