@import "players"
@import "info"
@import "map"
@import "guide"

body, html
  background-color #000
  color #fff
  width 100%
  height 100%
  margin 0
  padding 0
  overflow hidden

#glcanvas
  position absolute
  width 100%
  height 100%
