
.players
  position absolute
  left calc(50% - 152px)
  bottom 16px
  width 304px
  height 42px
  z-index 4

  .player
    background-color rgb(68, 169, 241)
    float left
    width 64px
    height 42px
    margin-right 16px

